.cube{
  width: 50px;
  height: 50px;
  position: absolute;
  transform-style: preserve-3d;

  .face{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: absolute;
    border: 2px solid black;
  }

  .face:nth-child(1){
    transform: rotateY(0deg) translateZ(25px);
  }
  .face:nth-child(2){
    transform: rotateX(180deg) translateZ(25px);
  }
  .face:nth-child(3){
    transform: rotateY(90deg) translateZ(25px);
  }
  .face:nth-child(4){
    transform: rotateY(-90deg) translateZ(25px);
  }
  .face:nth-child(5){
    transform: rotateY(90deg) translateZ(25px);
  }
  .face:nth-child(6){
    transform: rotateY(-90deg) translateZ(25px);
  }
}
